# OS X
.DS_Store

# iPython Notebook
.ipynb_checkpoints/

# excutables
*.out
*.exe

# data files
*.csv
*.png
*.txt

# object files
*.o

# swap files
*~
*.swp

.Rproj.user
.Rhistory
.RData
.Rplots.pdf
